<form action="/products/edit/" method="POST" enctype="multipart/form-data">
	<div class="form-container">
		<div class="form-group">
			<input type="hidden" name="product[id]" value="<%= @product.id %>">

			<input type="text" name="product[title]" placeholder="Име на продукта" value="<%= @product.title %>">
		</div>
		<div class="form-group">
			<input type="text" name="product[price]" placeholder="Цена" value="<%= @product.price %>"> 
		</div>
		<div class="form-group">
			<textarea cols="50" name="product[summary]" placeholder="Кратко описание"> <%= @product.summary %></textarea>
		</div>

		<div class="form-group">
			<input type="file" name="pictures_attributes[][file]">
			<% for @picture in @product.pictures %>
				<img src="<%= @picture.file %>"/>
			<% end %>
		</div>
		<div class="form-group">
			<select multiple="true" name="categorys_attributes[][id]">
				<% for @category in @categories %>
					<option value="<%= @category.id %>" <%= @product.categorys.include?(@category) ? 'selected="selected"' : ''%>><%= @category.title %></option>
				<% end %>
			</select>
		</div>
		<div class="form-group">
		<input type="checkbox" name="featured" checked="<%= @product.featured %>">
		</div>
		<input type="submit" class="button secondary" value="Запази">
	</div>
</form>
