<section class="l-main  l-push-double-top">

	<section class="grid">
		<% for @product in @products %>
			<article class="grid-item product-teaser l-col-4 l-push-bottom">
				<div class="product-image">
					<% for @picture in @product.pictures %>
						<img src="<%= @picture.file %>"/>
					<% end %>
				</div>
				<div class="product-info">
					<h2 class="product-title"><%= @product.title %><span class="add-to-card" data-product_id="<%= @product.id %>"><i class="fa fa-cart-plus"></i>
</span></h2>
					<p><%= @product.summary %></p>
					<p><strong>Цена:</strong> <%= @product.price %></p>
					<p><strong>Категории:</strong> 
						<% for @category in @product.categorys %>
							<span><%= @category.title %></span>
						<% end %>
					</p>
					<p>Приоритетен:<%= @product.featured %></p>
				</div>
			</article>
		<% end %>
	</section>
</section>
