<strong>Данни за доставка:</strong>
<em><%= "Адрес: #{@order.address}, email:#{@order.email}, телефон:#{@order.phone}" %></em>
<div class="responsive-table">
	<table>
		<thead>
			<tr>
				<th>Артикул:</th>
				<th>Количество:</th>
				<th>Единична цена:</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td colspan="3">Общо: <%= @order.total_sum %></td>
			</tr>
		</tfoot>
		<tbody>
			<% for @item in @order.line_items %>
			<tr>
				<td><%= @item.product.title %></td>
				<td><%= @item.quantity %></td>
				<td><%= @item.product.price %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>